extends layout

block content


	div.container(style="background: #74b446; width: auto; color: white;")
		div.container
			div.row
				div.col-lg-12(style="font-family: 'Montserrat', sans-serif")
					
					h1= title
					p Welcome to #{title} Impact Calculator, a KPCB Fellows Challenge Project


	div.container
		div.row
			div.col-lg-1
				i(class="fa fa-search fa-5x", style="margin-top: 70px")

			div.col-lg-11(style="font-family: 'Montserrat', sans-serif")
				form(onsubmit="return redirect();" style="font-size: 50px;")
					paper-input-decorator(label="Enter the name of a lender", style="color: #74b446")
						input(id="name", is="core-input")

		if lender != "ERROR"
			h2 ID: #{lender} / Name: #{name}
		else
			h2 #{query_message}

	if lender != "ERROR"
		div.container
			div.row
				div.col-md-6(style="font-family: 'Montserrat', sans-serif; background: yellow;")
					h2 This is where the impact squares go

				div.col-md-6(style="font-family: 'Montserrat', sans-serif; background: green;")
					div#cal-heatmap
					

		div.container
			div.row
				div.col-md-4(style="font-family: 'Montserrat', sans-serif; background: blue;")
					h2 This is where the picture goes
				div.col-md-8(style="font-family: 'Montserrat', sans-serif; background: red;")
					h2 This is where the description of the loans go
			div.row
				div.col-md-12(style="font-family: 'Montserrat', sans-serif; background: black;")
					h2 This is where HDI data goes

	else
		div.container
			div.row
				div.col-mid-12(style="font-family: 'Lato', sans-serif; margin-left: 15px")
					h2 KIVA Impact Calculator is a web application that assesses the degree of social impact created by KIVA loans by combining publicly available sources.
					br
					h3 Created with 
						i(class="fa fa-heart fa-1x", style="color: red;")
						&nbsp;@ HackRU
					h3 by Sean Bae, Colin King, Hiroshi Furuya
